# Can ignore specific files
.DS_Store
.project
.pydevproject
development.ini
development.db

# Use wildcards as well
*~
*.swp
*.py

# Can also ignore all directories and files in a directory.
tmp/**/* 

